<footer class="footer">
	<small>
		<a href="http://recibo.pt">Recibos Online</a>
		por Diogo Cordeiro
	</small>
	<nav>
		<ul>
			<li><%= link_to "Escrita Inteligente", escrita_path %></li>
		</ul>
	</nav>
</footer>